<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/fontawesome-free-5.15.3-web/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>
  <body>
    <header class="header">
      <img src="../static/images/logo1.png" id="logo" alt="" />
      <h1 class="companyname">SYMPTO SCAN</h1>
      <nav class="navbar">
        <a onclick="window.location.href='/'">home</a>
        <a onclick="window.location.href='/about'">about</a>
        <a onclick="window.location.href='/services'">services</a>
        <a onclick="window.location.href='/gallery'">gallery</a>
        <a onclick="window.location.href='/affiliation'">Affiliation</a>
        <a onclick="window.location.href='/contact_us'">contact us</a>
      </nav>
    </header>
    <div class="our-services">
      <div class="service-content">
          <div class="left-service-content">
              <h1>Our special services</h1>
              <p>We believe in empowering our patients with the knowledge they need to make informed health decisions. Our patient support services offer valuable resources to help you manage your health effectively.</p>
          </div>
      </div>

      <div class="main-services">
          <div class="inner-services-content">
              <div class="service-icon">
                  <i class="fas fa-notes-medical"></i>
              </div>
              <h2>Check Symtoms</h2>
              <p>Here You Can dignose Your disease in just some clicks .</p>
              <br><br>
              <a onclick="window.location.href='/check_symptoms'">Click Here</a>
          </div>

          <div class="inner-services-content">
            <div class="service-icon">
                <i class="fas fa-notes-medical"></i>
            </div>
            <h2>Take Appointment</h2>
            <p>Here You Can Take Yours Appointment.</p>
            <br><br>
            <a onclick="window.location.href='/appointment'">Click Here</a>
        </div>

          <div class="inner-services-content">
              <div class="service-icon">
                  <i class="fas fa-user-md"></i>
              </div>
              <h2>Check Medical Store</h2>
              <p>Here you can search your nearest medical store.</p>
              <br><br>
              <a onclick="window.location.href='/check_medical_store'">Click Here</a>
          </div>
      </div>
  </div>

  <footer class="footer">
    <ul class="social-icon">
      <li class="social-icon__item">
        <a
          class="social-icon__link"
          target="_blank"
          href="https://www.facebook.com/drnazshaffan"
        >
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </li>
      <li class="social-icon__item">
        <a
          class="social-icon__link"
          target="_blank"
          href="https://www.facebook.com/TwitterInc/"
        >
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </li>
      <li class="social-icon__item">
        <a
          class="social-icon__link"
          target="_blank"
          href="https://www.linkedin.com/in/dr-ansari-sarwar-alam-05925212a/"
        >
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>
      <li class="social-icon__item">
        <a
          class="social-icon__link"
          target="_blank"
          href="https://www.instagram.com/dr_arooba/?hl=en"
        >
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" onclick="window.location.href='/'">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" onclick="window.location.href='/about'">About</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" onclick="window.location.href='/services'">Services</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" onclick="window.location.href='/gallery'">Gallery</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" onclick="window.location.href='/affiliation'">Affiliation</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" onclick="window.location.href='/contact_us'">Contact</a>
      </li>
    </ul>
    <p>&copy;2024 Sympto Scan | All Rights Reserved</p>
  </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
